.nav {
    grid-area: n;
    background-color: rgb(191, 136, 35);
    padding: 15px;

  }

  .item a {
      color: white;
      cursor: pointer;
      text-decoration: none;
  }

  .item a.active {
    color: gold;
  }